:root {
    --primary-color: rgba(13, 110, 139, 0.05);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --pale-blue: rgb(157, 185, 184);
    --yellow: rgb(245, 216, 153);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    font-size: 17px;
    font-family: "Lucida Console", Monaco, monospace;
    color:#666;
    line-height: 1.4;
}

.ptext{
    position: absolute;
    top: 550px;
    left: 45vmin;
    width: 50%;
    text-align: center;
    color: var(--yellow);
    font-size: 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text2{
    position: absolute;
    top: 120%;
    width: 100%;
    text-align: center;
    color: var(--yellow);
    font-size: 20px;
    letter-spacing: 8px;
}

.pimg1 .pimg2 .pimg3{
    position: relative;
    opacity: 0.95;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.pimg1{
    background-image:url("images/plantes.jpg");
    min-height: 45%;
}

.pimg3{
    background-color: white;
    min-height: 1%;
}

.pimg2{
    background-color: var(--pale-blue);
    min-height: 160%;
}

.title{
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 25px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.title .border{
    color: #fff;
    background-color: var(--yellow);
    padding: 20px;
}

.position{
    position:absolute;
    top: 600px;
    left: 10vw;
}

.position2{
    position:absolute;
    top: 900px;
    left: 20vw;
}

.position3{
    position:absolute;
    top: 740px;
    left: 2vw;
}

.position4{
    position:absolute;
    transform:scaleX(-1);
    top: 400px;
    right: 0.5vw;
}

.position5{
    position:absolute;
    transform:rotate(200deg);
    top: 690px;
    left: 30vw;
}

.position6{
    position:absolute;
    top: 1555px;
    right: 5vw; 
}

