:root {
    --primary-color: rgba(13, 110, 139, 0.05);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --pale-blue: rgb(157, 185, 184);
    --yellow: rgb(245, 216, 153);
    --blue: rgb(108, 167, 164);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    font-size: 17px;
    font-family: "Lucida Console", Monaco, monospace;
    color:#666;
    line-height: 1.4;
}

.subtext{
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 7px;
}

.pimg1 .pimg2 .pimg3{
    position: relative;
    opacity: 0.95;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.pimg1{
    background-image:url("images/cornn.jpg");
    min-height: 45%;
}

.pimg3{
    background-color: white;
    min-height: 1%;
}

.pimg2{
    background-color: var(--yellow);
    min-height: 54%;
}

.title1{
    position: absolute;
    top: 19%;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 20px;
    letter-spacing: 8px;
}

.title1 .border{
    color: #fff;
    background-color: var(--blue);
    padding: 20px;
}

.title2{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 20px;
    letter-spacing: 8px;
}

.title2 .border{
    color: #fff;
    background-color: var(--blue);
    padding: 20px;
}

